.settings-menu {
	height: 100vh;
	width: 200px;
	min-width: 180px;
	background-color: var(--background-light);
}

.settings-container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.settings-menu-title {
	font-size: 0.7em;
	margin-left: 10px;
	color: #746f6f;
}

.settings-menu-item {
	font-size: 0.7em;
	padding: 5px 10px;
}

.settings-menu-item:hover {
	background-color: #9a9fa6;
	cursor: pointer;
}

.settings-menu-username {
	margin-left: 10px;
}

.settings-content-container {
	width: calc(100vw - 165px - 200px - 50px - 150px);
	height: 100vh;
	/* border: 1px solid black; */
	display: flex;
}

/* Settings - Account Page */

.settings-content-container.settings-account-container {
	display: flex;
	flex-direction: column;
}

.settings-account-initial-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 0px;
}

.settings-account-email-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.settings-account-name {
	width: 190px;
	margin: 0px 5px;
}

.settings-account-description {
	margin: 0px 0px 0px 8px;
	width: 465px;
}

.settings-account-email-row {
	margin: 20px 10px;
}

.settings-account-phone {
	margin: 0px 10px;
}

.settings-account-work {
	margin: 10px 10px;
	width: 465px;
}

.settings-account-save {
	width: 94px;
	position: relative;
	left: 376px;
}
/* Settings - Connections Page */

.settings-content-container.settings-connections-container {
	display: flex;
	flex-direction: column;
}
.settings-connection-container {
	background-color: var(--background-light);
	width: 90%;
	height: 110px;
	margin: 30px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.settings-connection-information-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.settings-connection-icon {
	margin: 10px 20px;
}

.settings-connection-header {
	font-size: 1em;
	margin-left: 10px;
	color: #746f6f;
}

.settings-connection-description {
	font-size: 0.7em;
	margin-left: 10px;
	color: #9a9fa6;
}

/* Settings - Menu Order */
.settings-content-container.settings-menu-order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 10px;
}

.menu-order-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
	padding: 10px 0px;
}

.menu-order-item {
	background-color: var(--background-light);
	border: 1px solid black;
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-between;
}

.menu-order-left {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-order-checkbox-header {
	width: 100px;
	display: flex;
	justify-content: space-between;
}

.menu-order-checkboxes {
	display: flex;
}

.menu-order-container {
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

/* width */
.menu-order-container::-webkit-scrollbar {
	width: 7px;
	background-color: var(--background-light);
}

/* Track */
.menu-order-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--background-light);
	border-radius: 10px;
}

/* Handle */
.menu-order-container::-webkit-scrollbar-thumb {
	background-color: var(--primary-light);
	border-radius: 10px;
}

/* Handle on hover */
.menu-order-container::-webkit-scrollbar-thumb:hover {
	background: var(--secondary-light);
}
