.horizontal-scroll {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	flex-shrink: 0;
}

.horizontal-scroll > * {
	flex-shrink: 0;
}

/* width */
.horizontal-scroll::-webkit-scrollbar {
	height: 10px;
	background-color: var(--background-light);
}

/* Track */
.horizontal-scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--background-light);
	border-radius: 10px;
}

/* Handle */
.horizontal-scroll::-webkit-scrollbar-thumb {
	background-color: var(--primary-light);
	border-radius: 10px;
}

/* Handle on hover */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
	background: var(--secondary-light);
}
