.menu-container {
	box-sizing: border-box;
	margin: 0px;
	width: 20%;
	height: 100vh;
	background-color: #5aa92d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0px;
	transition: 0.2s;
}
.menu-container-top {
	width: 70%;
}
.menu-container-bottom {
	width: 70%;
}
.menu-container.collapsed {
	width: 52px;
}

.menu-container.expanded {
	width: 165px;
}

.menuitem {
	box-sizing: border-box;
	display: flex;
	margin: 5px 0px;
	padding: 4px;
	border-radius: 4px;
	transition: 0.3s;
	align-items: center;
	transition-delay: 0.2s;
	transition: 0.2s;
}

.menuitem:hover {
	background-color: var(--primary-light);
	cursor: pointer;
}

.menuitem.selected {
	background-color: var(--primary-light);
	cursor: default;
}

.menuitem-icon {
	color: #ffffff;
	margin-right: 5px;
}

.menuitem-text {
	color: #ffffff;
	white-space: nowrap;
	transform: scale(0.8);
}

.menuitem-arrow.expanded {
	transform: scaleX(-1);
}
