/* Stylesheet for the Button.jsx component */
.icon {
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin: 0px 2px;
}

.icon-s {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}
.icon-m {
	font-size: 1.66em;
}
.icon-l {
	font-size: 2em;
}
.icon-xl {
	font-size: 3em;
}
.icon-xxl {
	font-size: 4em;
}
.icon-xxxl {
	font-size: 5em;
}
