/* Stylesheet for the Divider.jsx component */
.divider {
	height: 1px;
	width: 90%;
	margin: 10px;
	opacity: 0.32;
	background-color: #000000;
}

.divider.vertical {
	height: 80%;
	width: 1px;
	margin: 10px;
	opacity: 0.32;
	background-color: #000000;
}
