@import url(./Avatar/Avatar.css);
@import url(./Badge/Badge.css);
@import url(./Button/Button.css);
@import url(./Card/Card.css);
@import url(./Checkbox/Checkbox.css);
@import url(./Divider/Divider.css);
@import url(./Icon/Icon.css);
@import url(./Input/Input.css);
@import url(./Tooltip/Tooltip.css);
@import url(./EditableTextField/EditableTextField.css);
@import url(./HorizontalScroll/HorizontalScroll.css);
/* @import url(./ExpansionPanel/ExpansionPanel.css);
@import url(./Menu/Menu.css);
@import url(./Notification/Notification.css);
@import url(./PopUp/PopUp.css);
@import url(./Progress/Progress.css);
@import url(./RadioButton/RadioButton.css);
@import url(./TextField/TextField.css);
 */

:root {
	--prussian-blue: #0b3c5d;
	--sky-blue: #328dc1;
	--gold-leaf: #d9b310;
	--ivory-black: #1d2731;
	--border: #0000008a;
	--disabled: #cccccc;
	--white: #ffffff;
	--error: #b00020ff;
}

a {
	cursor: default;
}
