.avatar {
	width: 70px;
	height: 70px;
	padding: 5px;
	border-radius: 50%;
}
.avatar-status {
	position: absolute;
	left: 55%;
	top: 73%;
	border-radius: 50%;
	background-color: var(--background-light);
	border: 2px solid black;
}

.avatar-status.active {
	background-color: var(--primary-light);
}

.avatar-status.away {
	background-color: yellow;
}

.avatar-status.offline {
	background-color: gray;
}

.avatar-status.busy {
	background-color: red;
}

.avatar-container {
	position: relative;
	width: 80px;
	height: 80px;
}

.avatar-l {
	font-size: 2em;
}
.avatar-xl {
	font-size: 3em;
}
.avatar-xxl {
	font-size: 4em;
}
.avatar-xxxl {
	font-size: 5em;
}

.avatar-status-l {
	left: 55%;
	top: 68%;
	width: 10px;
	height: 10px;
}

.avatar-status-xl {
	width: 14px;
	height: 14px;
}

.avatar-status-xxl {
	width: 17px;
	height: 17px;
}
.avatar-status-xxxl {
	width: 20px;
	height: 20px;
}
