.messages-view-container {
	width: calc(100vw - 165px - 50px - 150px);
	min-width: 500px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	padding: 10px;
}

.messages-container {
	width: 100%;
	border: 1px solid black;
	flex-grow: 2;
	padding: 10px;
}

.messages-input {
	flex-grow: 2;
	border: hidden;
}

.messages-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
	padding: 0px 10px;
}

.messages-input-icon {
	border-radius: 50%;
	padding: 5px 2px 5px 5px;
	display: flex;
	align-content: center;
	color: var(--primary-light);
	transition: background 0.4s;
	transition-delay: 0s, 0s;
}

.messages-input-icon:hover {
	background-color: #e0f1d6;
	cursor: pointer;
}
.messages-input-icon:focus {
	background: #a2d684 radial-gradient(circle, transparent 1%, #a2d684 1%) center/15000%;
}
.messages-input-icon:active {
	background: #83c95b radial-gradient(circle, transparent 1%, #83c95b 1%) center/15000%;
}

.message-body {
	border-radius: 1.3em;
	padding: 5px 15px;
	background-color: var(--primary-light);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
}

.message-body.received {
	background-color: #dbdbdb;
	color: black;
	align-self: flex-start;
	order: 0;
}

.message-container {
	margin: 20px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.message-container.received {
	justify-content: flex-start;
}

.message-notification {
	width: 30px;
	order: 1;
	cursor: pointer;
	user-select: none;
	margin-top: 10px;
}
